PurpleAir/
PAir-cleaned.csv
PAir-cleaned2.csv
Renke2021-12-01 15_07 TO 2021-12-31 00_00.csv
Renke2021-12-01 15_07 TO 2021-12-31 00_00.xls

Historical record2021-12-31 08_50 TO 2022-01-07 09_50.csv
Historical record2022-01-07 08_50 TO 2022-01-14 09_50.csv
Historical record2022-01-14 08_50 TO 2022-01-19 09_50.csv
Lahore_PM2.5_2019_YTD.csv
Lahore_PM2.5_2020_YTD.csv
Lahore_PM2.5_2021_YTD.csv
Lahore_PM2.5_2022_01_MTD.csv


epd-met-cleaned.csv
list.csv
list2.csv
metstation2.csv
renke-cleaned.csv
temp-plot.html
us-cleaned.csv

__pycache__/
combinedAQI.csv
combinedAQIBand.csv
combined_daily_data.csv

